<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism"/>
  </configSections>

  <appSettings>
    <add key="UBOServerAddressUri" value="http://192.168.28.213"/>
    <add key="UBOServerPortNumber" value="4000"/>
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>

  <modules>
    <module assemblyFile="UboConfigTool.Modules.Logging.dll" moduleType="UboConfigTool.Modules.Logging.LoggingModule, UboConfigTool.Modules.Logging, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="LoggingModule" startupLoaded="true"/>
    <module assemblyFile="UboConfigTool.Modules.User.dll" moduleType="UboConfigTool.Modules.User.UserModule,UboConfigTool.Modules.User, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="UserModule" startupLoaded="true"/>
    <module assemblyFile="UboConfigTool.Modules.UBO.dll" moduleType="UboConfigTool.Modules.UBO.UBOModule, UboConfigTool.Modules.UBO, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="UBOModule" startupLoaded="true"/>
    <!--<module assemblyFile="UboConfigTool.Modules.USB.dll" moduleType="UboConfigTool.Modules.USB.USBModule, UboConfigTool.Modules.USB, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="USBModule" startupLoaded="true"/>
    <module assemblyFile="UboConfigTool.Modules.Rule.dll" moduleType="UboConfigTool.Modules.Rule.RuleModule, UboConfigTool.Modules.Rule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="RuleModule" startupLoaded="true"/>-->
  </modules>
</configuration>
